batchprocessing/src/main/mule/batchprocessing.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="abff6db4-f655-4226-b97b-ff2496ec942b" >
		<http:listener-connection host="localhost" port="8083" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="87ae3b6a-5b24-455c-9d83-a227e8b2841e" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mysql@1845" database="db_3" />
	</db:config>
	<flow name="batchprocessingFlow" doc:id="6d2fce47-bb9d-46e7-8118-900f9dfee44b" >
		<http:listener doc:name="Listener" doc:id="cc8f21c6-071a-4d10-85d6-11a1bb290359" config-ref="HTTP_Listener_config" path="batchp"/>
		<ee:transform doc:name="Transform Message" doc:id="7ff980f8-dca8-45e0-8545-c03443f26053" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
1 to 100 map {
	sid: 1000 + $$,
	sname: "siddarth",
	smail: "sid@143",
	saddress: "ind"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchprocessingBatch_Job" doc:id="2c3d8421-2d42-4d65-b287-2b1c70ad3809" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="e03c74ec-c19e-452b-9610-08ea0da211b9" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d8f82b08-697f-4529-965f-1daaaebc1425" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="7fdb9edb-9cec-46dc-9e90-b7a65a109942" message="#[payload]"/>
						<db:bulk-insert doc:name="Bulk insert" doc:id="6e83814b-fb84-45cc-924a-e1ade7e5949d" config-ref="Database_Config">
							<db:sql ><![CDATA[INSERT INTO db_3.student (sid, sname, smail, saddress)
VALUES (:sid, :sname, :smail, :saddress);]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="b26e350c-0965-433b-ad81-994fb390861a" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="bcac03e0-6d5d-45f8-a3e9-bb4e6c5d1ac2" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
